# Servidor
PORT=3001
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sgec

# JWT
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=8h

# Archivos subidos
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=20

# Correos institucionales permitidos (separados por coma)
ALLOWED_EMAIL_DOMAINS=escom.ipn.mx,alumno.ipn.mx,ipn.mx
